<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>

<body>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-config-add" name="form-config-add">
        <input name="fId" id="fId" hidden th:value="${cust.fId}">
        <div class="form-group">
            <label class="col-sm-3 control-label">客户名称：</label>
            <div class="col-sm-8">
                <input id="fName" name="fName" class="form-control" type="text" th:value="${cust.fName}">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var prefix =  "/Basic/Cust";

    $(function () {
        $("#form-config-add").bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                fName: {
                    message: '客户名称验证失败',
                    validators: {
                        notEmpty: {message: '客户名称不能为空'},
                        remote: {
                            url: prefix+"/checkFName",
                            message: '客户名称已存在,请重新输入',
                            delay: 1000,//ajax刷新的时间是1秒一次
                            type: 'POST', //自定义搜索数据，默认值搜索当前input value
                            data: function (validator) {
                                return {
                                    "fName": $("#fName").val(), "fId": $("#fId").val()
                                };
                            }
                        }
                    }
                }
            }
        })
    })

    function submitHandler() {
        var bootstrapValidator = $("#form-config-add").data("bootstrapValidator");
        bootstrapValidator.validate();
        if (bootstrapValidator.isValid()) {
            $.operate.save(prefix+"/edit", $('#form-config-add').serialize());
        }
    }
</script>
</body>
</html>
