<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>


<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="dept-form">
                <div class="select-list">
                    <ul>
                        <li>
                            职员姓名：<input type="text" name="f_name">
                        </li>
                        <li>
                            职员工号：<input type="text" name="f_no">
                        </li>
                        <li>
                            职员ID卡号：<input type="text" name="id_no">
                        </li>
                        <li>
                            职员职务:
                            <select id="f_post" name="f_post" class="selectpicker" style="width: 100%" data-live-search="true" tabindex="-98" th:with="type=${@dict.getType('clerk_job')}">
                                <option value="">请选择类型</option>
                                <option th:each="dict : ${type}" th:text="${dict.fLable}" th:value="${dict.fValue}"></option>
                            </select>
                        </li>
                        <li>
                            <button class="btn btn-primary " type="button" onclick="$.table.search()"><i class="fa fa-check"></i>&nbsp;搜索
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger " type="button" onclick="$.form.reset()"><i class="fa fa-adjust"></i>&nbsp;重置
                            </button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <!-- Panel Other -->

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a type="button" class="btn btn-outline btn-default" id="addData"
                    onclick="$.operate.add()"><i
                    class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
            <a type="button" class="btn btn-outline btn-default btn-edit disabled" id="editData"
                    onclick="$.operate.edit()">
                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
            <a type="button" class="btn btn-outline btn-default btn-del disabled" id="deleteData"
                    onclick="$.operate.removeAll()">
                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
<script th:inline="javascript">
    var clerk_job = [[${@dict.getType('clerk_job')}]];
    var prefix =  "/Basic/Staff";

    $(function() {
        var options = {
            uniqueId: "f_id",
            url: prefix+"/selectAll",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "f_name",
            sortOrder: "asc",
            pagination: true,                   //是否显示分页（*）
            modalName: "职员",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'f_name',
                    title: '职员姓名',
                },
                {
                    field: 'f_no',
                    title: '职员工号',
                },
                {
                    field: 'id_no',
                    title: '职员ID卡号',
                },
                {
                    field: 'f_post',
                    title: '职员职务',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(clerk_job,value);
                    }
                }
                ]
        };
        $.table.init(options);
    });

    function formatterDate(time) {
        var date = new Date(time);
        var str = date.getFullYear()+"-"+jl(date.getMonth()+1)+"-"+jl(date.getDate())+" "+jl(date.getHours())+":"+jl(date.getMinutes())+":"+jl(date.getSeconds());
        return str;
    }

    function getText(string, value) {
        var fLable = ""
        $.each(JSON.parse(string),function (i,v) {
            if (v.fValue === value){
                fLable = v.fLable
            }
        })
        return fLable
    }

    function jl(value) {
        if (value.toString().length<=1){
            return "0"+value;
        } else {
            return value;
        }
    }
</script>
<!-- Mirrored from www.zi-han.net/theme/hplus/table_bootstrap.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:06 GMT -->
</html>
