<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>

<style>
    .select-table{
        padding-bottom: 0px;
    }
    #form-config-MainAdd .col-sm-8, #form-config-DetlAdd .col-sm-8,#form-config-DetlList .col-sm-8 {
        padding-left: 0px;
    }

    #form-config-MainAdd .col-sm-4, #form-config-DetlAdd .col-sm-4 ,#form-config-DetlList .col-sm-4 {
        padding-right: 0px;
    }

    #form-config-MainAdd .col-sm-3, #form-config-DetlAdd .col-sm-3 ,#form-config-DetlList .col-sm-3 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .help-block{
        display: block;
        position: absolute;
        z-index: 99999;
        margin-top: 0px;
    }
    .ibox-content{
        padding-top: 10px;
    }
    .has-feedback .form-control{
        padding-right: 0px;
    }
</style>
<body>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="select-table table-striped col-sm-12" id="form-config-MainAdd" name="form-config-add">
        <p style="font-size: 18px; border-bottom: 1px solid gainsboro;padding-top: 10px" class="col-sm-12">流转单信息</p>
        <div class="form-group col-sm-3" hidden>
            <label class="col-sm-4 control-label">流转id：</label>
            <div class="col-sm-8">
                <input id="f_id" name="f_id" class="form-control" type="text" placeholder="流转单号" value="" disabled>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-4 control-label">流转单号：</label>
            <div class="col-sm-8">
                <input id="bill_no" name="bill_no" class="form-control" type="text" placeholder="流转单号" value="" disabled>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-4 control-label">流转类型：</label>
            <div class="col-sm-8">
                <select id="f_type" name="f_type" class="selectpicker form-control" style="width: 100%" data-live-search="true" tabindex="-98" disabled  th:with="type=${@dict.getType('doc_type')}">
                    <option th:each="dict : ${type}" th:text="${dict.fLable}" th:value="${dict.fValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-4 control-label">发起人：</label>
            <div class="col-sm-8">
                    <input type="text" class="form-control" id="init_man_id" placeholder="发起人" disabled/>
                    <input id="man_id" type="hidden"  name="init_man_id">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-4 control-label">发起时间：</label>
            <div class="col-sm-8">
                <input type="text" class=" form-control" id="init_time" placeholder="发起时间" name="init_time" disabled/>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-4 control-label">转出部门：</label>
            <div class="col-sm-8">
                <input type="text" id="out_org_name" value="" onclick="selectDeptTreeOut()" placeholder="转出部门" class="form-control" disabled>
                <input type="hidden" class="reset-input" name="out_org_id" id="out_org_id">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-4 control-label">转出人：</label>
            <div class="col-sm-8">
                <select id="out_man_id" name="out_man_id" class="selectpicker form-control" style="width: 100%"
                        data-live-search="true" tabindex="-98" disabled="disabled" th:with="type=${@staff.getStaffList()}">
                    <option value="">请选择类型</option>
                    <option th:each="staff:${type}" th:text="${staff.f_name}" th:value="${staff.f_id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-4 control-label">实际转出：</label>
            <div class="col-sm-8">
                <input type="text" class="time-input form-control" id="out_time" placeholder="实际转出时间" name="out_time" disabled/>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-sm-4 control-label">试制部门：</label>
            <div class="col-sm-8">
                <input type="text" id="in_org_name" value="" onclick="selectDeptTreeIn()" placeholder="转入部门" class="form-control" disabled>
                <input type="hidden" class="reset-input" name="in_org_id" id="in_org_id">
            </div>
        </div>
        <input name="is_process" id="is_process" type="hidden">
    </form>

    <div class="select-table col-sm-12">
        <div class="col-sm-12 table-striped" style="height: 37%">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">图片</h4>
                </div>
                <img id="pic" style="width: 100%">
                <!--<div class="modal-body">在这里添加一些文本</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                    <!--<button type="button" class="btn btn-primary">提交更改</button>-->
                <!--</div>-->
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var seatList = [[${@seat.getSeatList()}]];
    var orgList = [[${@dept.deptList()}]];
    var parts_cate = [[${@dict.getType('parts_cate')}]]
    $("#is_process").val(1);
    var prefix = "/Basic/IMain";
    var isComplete = true;

    $('input[type=radio][name=isComplete]').change(function() {
        if (this.value == '0') {
            isComplete = true;
            $("#LZb_main").attr("disabled", false);
            $("#LZb_main").attr("hidden", false);
            $("#LZm_main").attr("disabled", true);
            $("#LZm_main").attr("hidden", true);
        } else if (this.value == '1') {
            isComplete = false;
            $("#LZm_main").attr("disabled", false);
            $("#LZm_main").attr("hidden", false);
            $("#LZb_main").attr("disabled", true);
            $("#LZb_main").attr("hidden", true);
        }
    });
    $(function () {
        var options = {
            uniqueId: "f_id",
            // data:data,
            // url: prefix+"/selectAll",
            // createUrl: prefix + "/add.html",
            // updateUrl: prefix + "/edit/{id}",
            // removeUrl: prefix + "/remove",23123123
            // exportUrl: prefix + "/export",
            sortName: "match_no",
            sortOrder: "asc",
            pagination: true,               //是否显示分页（*）
            modalName: "部件型号",
            search: false,
            showExport: false,
            showRefresh:false,
            showToggle:false,
            showColumns:false,
            columns: [
                // {
                //     checkbox: false
                // },
                {
                    field: 'f_name',
                    title: '部件名称',
                    // halign:"center"
                },
                {
                    field: 'match_no',
                    title: '部件匹配号',
                    align: "center",
                    formatter:function (value, row, index) {
                        return "<a onclick='showPicture("+JSON.stringify(row.img_path)+")' data-toggle='modal' data-target='#myModal'>"+value+"</a>";
                    }
                },
                {
                    field: 'order_no',
                    title: '成套序号',
                    align:"center",
                    formatter:function (value, row, index) {
                        return value==0?"-":value;
                    }
                },
                {
                    field: 'rece_time',
                    title: '接收时间',
                    align:"center",
                    formatter: function (value, row, index) {
                        if (typeof(value) != "undefined" && value != "" && value != null && value != '0000-00-00 00:00:00') {
                            var date = new Date(value);
                            return date.getFullYear() + "-" + jl(date.getMonth() + 1) + "-" + jl(date.getDate());
                        }
                    }
                },
                {
                    field: 'isHG',
                    title: '试制结果',
                    formatter:function (value, row, index) {
                        if (typeof(row.rece_time) != "undefined" && row.rece_time != "" && row.rece_time != null && row.rece_time != '0000-00-00 00:00:00') {
                            if (value == 0) {
                                return "合格";
                            } else if (value == 1) {
                                return '不合格';
                            }
                        }else {
                            return '-';
                        }
                    }
                    // halign:"center"
                },
                // {
                //     field: 'seat_id',
                //     title: '所在地',
                //     // halign:"center"
                //     formatter: function (value, row, index) {
                //         var seats = [];
                //         var orgs = [];
                //         for (var i=0;i<seatList.length;i++){
                //             seats.push(seatList[i].fId);
                //         }
                //         for (var j=0;j<orgList.length;j++) {
                //             orgs.push(orgList[j].fId);
                //         }
                //         if (seats.indexOf(value)!=-1) {
                //             for (var i=0;i<seatList.length;i++){
                //                 if (seatList[i].fId==value){
                //                     return seatList[i].fName;
                //                 }
                //             }
                //         }else if (orgs.indexOf(value)!=-1){
                //             for (var j=0;j<orgList.length;j++) {
                //                 if (orgList[j].fId==value) {
                //                     return orgList[j].fName;
                //                 }
                //             }
                //         }
                //         return "";
                //     }
                // },
                {
                    field: 'rece_time',
                    title: '是否已试制',
                    align: 'center',
                    formatter: function(value, row, index) {
                        // if (row.fId != 1) {
                        //     var actions = [];
                        //     actions.push('<a class="btn btn-danger btn-xs" onclick="remove(\''+ row.f_id+'\',+\''+index + '\')"><i class="fa fa-remove">删除</i></a>');
                        //     return actions.join('');
                        // } else {
                        //     return "";
                        // }

                        if (value == null || value.length <= 0 || value == '0000-00-00 00:00:00') {
                            return '<p style="color:red">未试制</p>';
                        } else {
                            return '<p style="color:green">已试制</p>';
                        }
                    }
                },
                {
                    field: '',
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        if (row.fId != 1 && (row.rece_time == null || row.rece_time.length <= 0 || row.rece_time == '0000-00-00 00:00:00')) {
                            var actions = [];
                            actions.push('<a class="btn btn-danger btn-xs" onclick="remove(\''+ row.f_id+'\',+\''+index + '\')"><i class="fa fa-remove">删除</i></a>');
                            return actions.join('');
                        } else {
                            return "";
                        }
                    }
                },
            ]
        };
        $.table.init(options);
        $("#bootstrap-table").bootstrapTable("load",data);

        $("#form-config-MainAdd").bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                bill_no: {
                    message: '部件型号名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '流转单号不能为空'
                        }
                    }
                },
                f_type: {
                    message: '产品类别验证失败',
                    validators: {
                        notEmpty: {
                            message: '流转类型不能为空'
                        }
                    }
                }
            }
        })
        // formValidator();
        setValue();
    })

    function showPicture(img_path) {
        $('#pic').attr('src',"/SavePicture/getFileList?img_path="+img_path);
        // $.ajax({
        //     url:"/SavePicture/getFileList",
        //     type: "post",
        //     dataType: "json",
        //     data: {img_path:img_path},
        //     success:function(data) {
        //         console.log(data)
        //     }
        // })
    }


    function formValidator(){
        $("#form-config-DetlAdd").bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                match_no: {
                    message: '部件验证失败',
                    validators: {
                        notEmpty: {
                            message: '部件不能为空'
                        }
                    }
                },
                // order_no: {
                //     message: '成套序号验证失败',
                //     validators: {
                //         notEmpty: {
                //             message: '成套序号不能为空'
                //         }
                //     }
                // }
            }
        })
    }

    var data = new Array();
    var removes = new Array();

    function remove(f_id,index){
        console.log(f_id,index)
        removes.push(f_id);
        data.splice(index,1);
        $("#bootstrap-table").bootstrapTable("load",data);
    }

    function addData() {
        if (isComplete) {
            formValidator();
            var bootstrapValidatorDetl = $("#form-config-DetlAdd").data("bootstrapValidator");
            bootstrapValidatorDetl.validate();
            if (bootstrapValidatorDetl.isValid()) {
                data.push($("#form-config-DetlAdd").serializeObject())
                $.form.reset("form-config-DetlAdd");
                $("#form-config-DetlAdd").data('bootstrapValidator').destroy();
                $('#form-config-DetlAdd').data('bootstrapValidator', null);
            }
        }else {
            $(comp_parts).each(function (i,v) {
                var comp_part = $("#"+v+"_form").serializeObject();
                if (comp_part.part_id!=''){
                    data.push(comp_part);
                }
                $.form.reset(v+"_form");
            })
        }
        $("#bootstrap-table").bootstrapTable("load", data);
    }

    function getText(string,value) {
        var str = string.replace(/></g,",").split(",");
        for (var i=0;i<str.length;i++){
            var ret =  str[i];
            var val = ret.substring(ret.indexOf('\'')+1,ret.indexOf('\'',ret.indexOf('\'')+1));
            if (val==value){
                return ret.substring(ret.indexOf('>')+1,ret.indexOf('<',ret.indexOf('>')))
            }
        }
    }

    function setValue(){
        imain = JSON.parse([[${mainResult.imain}]])[0];
        $("#f_id").val(imain.f_id);
        $("#bill_no").val(imain.bill_no);
        $("#f_type").selectpicker('val',imain.f_type);
        // $("#init_man_id").selectpicker('val',imain.init_man_id);
        var users = [[${@user.getUserList()}]];
        for (var i=0;i<users.length;i++){
            if (users[i].userId == imain.init_man_id ) {
                $("#init_man_id").val(users[i].userName)
                $("#man_id").val(users[i].userId)
            }
        }
        $("#init_time").val(imain.init_time );
        $("#plan_out_time").val(imain.plan_out_time);
        $("#plan_in_time").val(imain.plan_in_time);
        $("#out_org_id").val(imain.out_org_id);
        $("#out_org_name").val(imain.out_org_name);
        $("#out_man_id").selectpicker('val',imain.out_man_id);
        $("#out_time").val(imain.out_time);
        $("#in_org_id").val(imain.out_org_id);
        $("#in_org_name").val(imain.in_org_name);
        $("#in_man_id").selectpicker('val',imain.in_man_id);
        $("#in_time").val(imain.in_time);
        $("#trans_man").val(imain.trans_man);
        $("#trans_man_phone").val(imain.trans_man_phone);
        $("#car_plate").val(imain.car_plate);
        data = JSON.parse([[${mainResult.detls}]]);
        $("#bootstrap-table").bootstrapTable("load",data);
    }

    //将form表单内容封装为对象
    $.fn.serializeObject = function(){
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };


    function submitHandler() {
        // var bootstrapValidatorMain = $("#form-config-MainAdd").data("bootstrapValidator");
        // bootstrapValidatorMain.validate();
        // if (bootstrapValidatorMain.isValid()) {
        //     $.operate.save(prefix+"/add",{imain:JSON.stringify($('#form-config-MainAdd').serializeObject()),detls:JSON.stringify(data)});
        console.log(removes)
            $.operate.save(prefix+"/removeDetl",{ids:removes.join(',')});
        // }
        $.modal.close();
    }

    function selectDeptTreeOut() {
        var options = {
            title: '部门选择',
            width: "380",
            url: "/Basic/Dept/selectDeptTree/" + ($("#out_org_id").val()?$("#out_org_id").val():"1"),
            callBack: doSubmitOut
        };
        $.modal.openOptions(options);
    }

    function doSubmitOut(index, layero){
        var body = layer.getChildFrame('body', index);
        $("#out_org_id").val(body.find('#treeId').val());
        $("#out_org_name").val(body.find('#treeName').val());
        layer.close(index);
    }
    function selectDeptTreeIn() {
        var options = {
            title: '部门选择',
            width: "380",
            url: "/Basic/Dept/selectDeptTree/" + ($("#in_org_id").val()?$("#in_org_id").val():"1"),
            callBack: doSubmitIn
        };
        $.modal.openOptions(options);
    }

    function doSubmitIn(index, layero){
        var body = layer.getChildFrame('body', index);
        $("#in_org_id").val(body.find('#treeId').val());
        $("#in_org_name").val(body.find('#treeName').val());
        layer.close(index);
    }

    function selectWareTree() {
        var options = {
            title: '部门选择',
            width: "380",
            url: "/Basic/Ware/selectWareTree/" + ($("#fPid").val()?$("#fPid").val():"1")+","+$("#type").val(),
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var body = layer.getChildFrame('body', index);
        if (body.find('#treeType').val()!=4&&body.find('#treeType').val()!=""){
            $.modal.msgError("请选择货位!")
            return;
        }
        $("#seat_id").val(body.find('#treeId').val());
        $("#seat_name").val(body.find('#treeName').val());
        layer.close(index);
    }

    function selectMain(boolen,element) {
        isMould = boolen;
        classify = element==null?null:element.id;
        var url = "/Pop/popTz.jsp";
        if (boolen){
            url+="?mould_id="+mould_id+"&classify_no="+element.id;
        }
        var options = {
            title: '部件匹配号选择',
            width: "1150",
            url: url,
            callBack: doSubmitMain
        };
        $.modal.openOptions(options);
    }

    function doSubmitMain(index, layero) {
        var body = layer.getChildFrame('body', index);
        if ($.common.isEmpty(body.find('#match_no').val())) {
            $.modal.msgError("请选择部件!")
            return
        }
        var f_name = body.find('#f_name').val()
        var part_id = body.find('#part_id').val()
        var match_no = body.find('#match_no').val()
        var f_no = body.find('#f_no').val()
        var mmd_name = body.find('#mmd_name').val()
        if (isMould){
            $("#"+classify).val(match_no);
            $("#"+classify+"_f_name").val(f_name);
            $("#"+classify+"_part_id").val(part_id);
            $("#"+classify+"_f_no").val(f_no);
            $("#"+classify+"_mmd_name").val(mmd_name);
        }else{
            $("#f_name").val(f_name);
            $("#part_id").val(part_id);
            $("#match_no").val(match_no);
            $("#f_no").val(f_no);
            $("#mmd_name").val(mmd_name);
        }
        layer.close(index);
    }

    function selectMatchNo() {
        var options = {
            title: '匹配号选择',
            width: "1150",
            url: "/Pop/popMMain.jsp",
            callBack: doSubmitMatchNo
        };
        $.modal.openOptions(options);
    }

    function doSubmitMatchNo(index, layero){
        var body = layer.getChildFrame('body', index);
        $("#model").val(body.find('#fNo').val());
        // $("#prop_model_id").val(body.find('#fName').val());
        mould_id = body.find('#fId').val();
        var str = "<form></form>";
        $.ajax({
            url:"/Mould/Main/getMMainById",
            type: "post",
            dataType: "json",
            data: {fId:body.find('#fId').val()},
            success:function(data) {
                comp_parts = data.comp_parts.split(",");
                $(comp_parts).each(function (i,v) {
                    str += '<form id="'+v+'_form">' +
                        '<div class="form-group col-sm-3">' +
                        '                        <label class="col-sm-4 control-label">'+$.table.selectDictLabel(parts_cate,v)+'：</label>' +
                        '                        <div class="col-sm-8">' +
                        '                            <input id="'+v+'" name="match_no" class="form-control treeview-input" onclick="selectMain(true,this)"' +
                        '                                   type="text" readonly="true" value="">' +
                        '                               <input type="hidden" id="'+v+'_f_name" name="f_name">'+
                        '                               <input type="hidden" id="'+v+'_part_id" name="part_id">'+
                        '                               <input type="hidden" id="'+v+'_f_no" name="f_no">'+
                        '                               <input type="hidden" id="'+v+'_mmd_name" name="mmd_name">'+
                        '                        </div>' +
                        '                    </div>' +
                        '</form>';

                })
                $("#DetlLsit").html(str);
            }
        })
        layer.close(index);
    }

    function jl(value) {
        if (value.toString().length<=1){
            return "0"+value;
        } else {
            return value;
        }
    }

</script>
</body>
</html>
