<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinfei.jfmm.dao.aCustMapper" >
  <resultMap id="BaseResultMap" type="com.jinfei.jfmm.model.aCust" >
    <id column="f_id" property="fId" jdbcType="VARCHAR" />
    <result column="f_name" property="fName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    f_id, f_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from a_cust
    where f_id = #{fId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from a_cust
    where f_id = #{fId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jinfei.jfmm.model.aCust" >
    insert into a_cust (f_id, f_name)
    values (#{fId,jdbcType=VARCHAR}, #{fName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jinfei.jfmm.model.aCust" >
    insert into a_cust
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        f_id,
      </if>
      <if test="fName != null" >
        f_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="fName != null" >
        #{fName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinfei.jfmm.model.aCust" >
    update a_cust
    <set >
      <if test="fName != null" >
        f_name = #{fName,jdbcType=VARCHAR},
      </if>
    </set>
    where f_id = #{fId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinfei.jfmm.model.aCust" >
    update a_cust
    set f_name = #{fName,jdbcType=VARCHAR}
    where f_id = #{fId,jdbcType=VARCHAR}
  </update>
  <select id="list" resultMap="BaseResultMap" parameterType="com.jinfei.jfmm.model.aCust">
    select * from a_cust
    <where>
      <if test="fName != null and fName != ''">
        f_name Like CONCAT('%',#{fName},'%')
      </if>
    </where>
  </select>
    <select id="checkFName" resultType="java.lang.Boolean">
      select count(f_id) from a_cust
      <where>
        <if test="fName!=null and fName!=''">
          AND f_name = #{fName}
        </if>
        <if test=" fId != null and fId != '' ">
          AND f_id != #{fId}
        </if>
      </where>
    </select>
</mapper>