<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>

<style>
    .help-block{
        display: block;
        position: absolute;
        z-index: 99999;
        margin-top: 0px;
    }
    .ibox-content{
        padding-top: 10px;
    }
    .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default{
        background-color: darkgray;
    }
</style>
<head>
    <link href="../../css/plugins/bootstrap-fileinput/css/fileinput.css" rel="stylesheet">
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="select-table table-striped col-sm-12" id="form-config-MainAdd" name="form-config-add">
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">接收入库：</label>
            <div class="col-sm-8">
                <input id="location_name" class="form-control" type="text" onclick="selectDeptTreeOut()"/>
                <input id="location" name="location" hidden type="text" />
            </div>
        </div>
        <!--<div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">接收时间：</label>
            <div class="col-sm-8">
                <input type="text" class="time-input form-control" id="in_time" placeholder="接收时间" name="in_time" readonly/>
            </div>
        </div>-->
    </form>
    <form enctype="multipart/form-data" class="select-table table-striped col-sm-12" >
        <div class="container col-sm-12">
            <div class="file-loading">
                <input id="file-fr" name="file" type="file" multiple>
            </div>
        </div>
        <input type="hidden" id="save_return">
    </form>
</div>
<div th:include="include::footer"></div>
<script src="../../css/plugins/bootstrap-fileinput/js/fileinput.js"></script>
<script src="../../css/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
<script>
    var index = 0;

    $(function(){
        $("#rece_edit_time").val(formatterDate(null,true));
        $("#f_id").val(getUrlPara("fId"));
    })

    $("#in_time").trigger("input");
    $("#in_time").bind("input propertychange",function () {
        console.log(1231231321321231);
    });

    function getUrlPara(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var url=decodeURI(decodeURI(window.location.search))
        var r = url.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    $(function () {
        //0.初始化fileinput
        var oFileInput = new FileInput();
        oFileInput.Init("file-fr", "/SavePicture/upload");
    });

    //初始化fileinput
    var FileInput = function () {
        var oFile = new Object();

        //初始化fileinput控件（第一次初始化）
        oFile.Init = function(ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);

            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                uploadAsync:false,
                allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
                showUpload: false, //是否显示上传按钮
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式
                //dropZoneEnabled: false,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 1, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                layoutTemplates:{
                    actionUpload:""
                }
            });

            control.on("filebatchuploadsuccess", function (event, data) {
                $.ajax({
                    url:"/process/BF/task",
                    data:{"img_path":getCookie("img_path"),"f_id":"[[${fid}]]","location":$("#location").val()},
                    success:function (data) {
                        parent.window.call(index);
                    }
                })
            });
        }
        return oFile;
    };

    function formatterDate(time,bool) {
        var date = new Date(time!=null?time:new Date());
        var str = "";
        if (bool){
            str = date.getFullYear()+"-"+jl(date.getMonth()+1)+"-"+jl(date.getDate())+" "+jl(date.getHours())+":"+jl(date.getMinutes())+":"+jl(date.getSeconds());
        } else{
            str = date.getFullYear()+""+jl(date.getMonth()+1)+""+jl(date.getDate())+""+jl(date.getHours())+""+jl(date.getMinutes())+""+jl(date.getSeconds());
        }
        return str;
    }

    function jl(value) {
        if (value.toString().length<=1){
            return "0"+value;
        } else {
            return value;
        }
    }

    function submitHandler(value) {
        $("#file-fr").fileinput("upload");
    }

    function selectDeptTreeOut() {
        var options = {
            title: '部门选择',
            width: "380",
            url: "/Basic/Dept/selectDeptTree/" + ($("#location").val() ? $("#location").val() : "753f3277-7aec-11ea-921a-000c29aeba8c"),
            callBack: doSubmitOut
        };
        $.modal.openOptions(options);
    }

    function doSubmitOut(index, layero) {
        var body = layer.getChildFrame('body', index);
        $("#location").val(body.find('#treeId').val());
        $("#location_name").val(body.find('#treeName').val());
        layer.close(index);
    }
</script>
</body>
</html>
