<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>


<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="query-form">
                <div class="select-list">
                    <ul>
                        <li>
                            模具名称：<input type="text" name="fName" placeholder="模具名称">
                        </li>
                        <li>
                            产品类别：
                            <select id="prodClassifyId" name="prodClassifyId" class="selectpicker " style="width: 100%" data-live-search="true" tabindex="-98" th:with="type=${@dict.getType('prod_cate')}">
                                <option value="">选择类别</option>
                                <option th:each="dict:${type}" th:text="${dict.fLable}" th:value="${dict.fValue}"></option>
                            </select>
                        </li>
                        <li>
                            模具规格：
                            <select id="specId" name="specId" class="selectpicker" style="width: 100%" data-live-search="true" tabindex="-98" th:with="type=${@dict.getType('mould_spec')}">
                                <option value="">选择规格</option>
                                <option th:each="dict:${type}" th:text="${dict.fLable}" th:value="${dict.fValue}"></option>
                            </select>
                        </li>
                        <li>
                            配套厂家:
                            <select id="custId" name="custId" class="selectpicker" style="width: 100%" data-live-search="true" tabindex="-98" th:with="custs=${@cust.getCustList()}">
                                <option value="">选择厂家</option>
                                <option th:each="cust:${custs}" th:text="${cust.fName}" th:value="${cust.fId}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary " type="button" onclick="$.table.search()"><i class="fa fa-check"></i>&nbsp;搜索
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-danger " type="button" onclick="$.form.reset()"><i class="fa fa-adjust"></i>&nbsp;重置
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <!-- Panel Other -->

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a type="button" class="btn btn-outline btn-default" id="addData"
                    onclick="$.operate.add()"><i
                    class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
            <a type="button" class="btn btn-outline btn-default btn-edit disabled" id="editData"
                    onclick="$.operate.edit()">
                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
            <a type="button" class="btn btn-outline btn-default btn-del disabled" id="deleteData"
                    onclick="$.operate.removeAll()">
                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
<script th:inline="javascript">
    var prod_spec = [[${@dict.getType('prod_spec')}]]
    var prefix =  "/Mould/Model";

    $(function() {
        var options = {
            uniqueId: "fId",
            url: prefix+"/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            sortName: "fName",
            sortOrder: "asc",
            modalName: "模具",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                // {
                //     field: 'f_id',
                //     title: '部件名称',
                //     // halign:"center"
                // },
                {
                    field: 'fName',
                    title: '模具名称',
                    // halign:"center"
                },
                {
                    field: 'prodClassifyName',
                    title: '产品类别',
                    // halign:"center"
                },
                {
                    field: 'prod_spec_id',
                    title: '产品尺寸',
                    // halign:"center"
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(prod_spec,value);
                    }
                },
                {
                    field: 'specName',
                    title: '模具规格',
                    // halign:"center"
                },
                {
                    field: 'custName',
                    title: '配套厂家',
                    // halign:"center"
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                            actions.push('<a class="btn btn-success btn-xs " href="#" onclick="$.operate.edit(\'' + row.fId + '\')"><i class="fa fa-edit">编辑</i></a> ');
                            actions.push('<a class="btn btn-danger btn-xs " href="#" onclick="remove(\'' + row.fId + '\')"><i class="fa fa-remove">删除</i></a>');
                        return actions.join('');
                    }
                }
                ]
        };
        $.table.init(options);
    });

    function getText(string,value) {
        var str = string.replace(/></g,",").split(",");
        for (var i=0;i<str.length;i++){
            var ret =  str[i];
            var val = ret.substring(ret.indexOf('\'')+1,ret.indexOf('\'',ret.indexOf('\'')+1));
            if (val==value){
                return ret.substring(ret.indexOf('>')+1,ret.indexOf('<',ret.indexOf('>')))
            }
        }
    }

    function remove(id) {
        $.modal.confirm("确定删除该条" + $.table._option.modalName + "信息吗？", function () {
            $.ajax({
                type: 'post',
                url: prefix + "/remove/" + id,
                success: function (result) {
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess(result.msg);
                        $.table.refresh();
                    } else {
                        $.modal.msgError(result.msg);
                    }
                }
            });
        });
    }
</script>
<!-- Mirrored from www.zi-han.net/theme/hplus/table_bootstrap.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:06 GMT -->
</html>
