<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>

<body class="gray-bg">
<div class="container-div">
    <div class="row">

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a type="button" class="btn btn-outline btn-default" id="addData"
               href="/models/create"><i
                    class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="include::footer"></div>
</body>
<script th:inline="javascript">
    $(function () {
        var options = {
            uniqueId: "f_id",
            url: "/activiti/takeQuery",
            createUrl: "/add",
            updateUrl: "/edit/{id}",
            removeUrl: "/remove",
            exportUrl: "/export",
            sortName: "f_name",
            sortOrder: "asc",
            pagination: true,                   //是否显示分页（*）
            modalName: "部件型号",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                // {
                //     field: 'f_id',
                //     title: '部件名称',
                //     // halign:"center"
                // },
                {
                    field: 'processId',
                    title: 'ID',
                    // halign:"center"
                },
                {
                    field: 'processName',
                    title: '流程名称',
                    align: "center"
                },
                {
                    field: 'taskId',
                    title: '任务ID',
                },
                {
                    field: 'taskName',
                    title: '任务名称',
                    align: "center",
                },
                {
                    field: 'deploymentId',
                    title: '部署ID',
                    align: "center",
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: "center",
                },
                {
                    field: 'lastUpdateTime',
                    title: '最后更新时间',
                    align: "center",
                },
                {
                    field: 'mould_spec_id',
                    title: '操作',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a href="javascript:void(0);" onclick="deployment(this);" objectid="'+row.id+'" class="btn btn-info  btn-xs font-blue deployBtn">详细</a> ');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });

    function deployment(obj) {
        var id = obj.attributes['objectid'].nodeValue;
        $.ajax({
            url: "/models/deployment/" + id,
            type: "GET",
            success: function (res) {
                alert(res);
            }
        });

    }

    function deleteProcess(obj) {
        var id = obj.attributes['objectid'].nodeValue;
        $.ajax({
            url: "/models/delete/" + id,
            type: "GET",
            success: function (res) {
                alert(res);
            }
        });
    }

    function start(obj) {
        var id = obj.attributes['objectid'].nodeValue;
        $.ajax({
            url: '/models/start/' + id,
            type: 'GET',
            success: function (res) {
                alert(res);
            }
        });
    }

    function taskList() {
        $("#taskList").submit();
    }
</script>
</html>